<div class='container'>
	<div class='row'>
		<div class='col-xs-3'>
			<h2>User info</h2>
      <% if @user.errors.any? %>
        <h2><%= @user.errors.count %>errors prohibited this obj from being saved:</h2>
        <ul>
          <% @user.errors.full_messages.each do |message| %>
            <%= message %>
          <% end %>
        </ul>
      <% end %>
      <%= form_for (@user) do |f| %>
        Name
        <%= f.text_field :name %>
        <h4>image</h4>
        <%= f.attachment_field :profile_image %>
        Introduction
        <%= f.text_area :introduction %>
        <%= f.submit "Update User"%>
      <% end %>

			<div class='row'>
			</div>
		</div>

